body
{
background-color: aqua;
margin: 0px ;
padding: 0px;
}
p{
margin: 0px;
padding:0px;
}

#baner
{
 padding: 10px;
 text-align: center;
 background: #1abc9c;
 color: white;
}





#zdjecie
{   margin-left:-20px ;
    height:300px ;
    background-color: rgb(196, 226, 23);
    margin: 0px;
    padding:0px;
    width: 710px;
    display: inline-block;
}

#art
{
    height:300px ;
    background-color: rgb(106, 223, 11);
    margin: -4px;
    padding:0px;
    width: 800px;
    display: inline-block;
}
#arty
{
    height:300px ;
    background-color: rgb(238, 22, 227);
    margin: -4px;
    padding:0px;
    width: 414px;
    display: inline-block; 
}
#stopka
{
 background:#290ada;
 text-align: center ;
 padding:10px;
 color: rgb(238, 10, 10);

} 