body
{
background-color: aqua;
margin: 0px ;
padding: 0px;
}
p{
margin: 0px;
padding:0px;
}

#baner
{
    border-left-width: 3px;
 border-left-style: solid;
 border-left-color: red;
 border-top-width: 3px;
 border-top-style: solid;
 border-top-color: red;
 border-right-width: 3px;
 border-right-style: solid;
 border-right-color: red;
 border-bottom-width: 3px;
 border-bottom-style: solid;
 border-bottom-color: red;
 padding: 10px;
 text-align: center;
 background: #1abc9c;
 color: white;
}




#zdjecie
{ border-left-width: 3px;
    border-left-style: solid;
    border-left-color: red;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: red;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: red;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: red;
    
    margin-left:-20px ;
    height:300px ;
    background-color: rgb(196, 226, 23);
    margin: 0px;
    padding:0px;
    width: 710px;
    display: inline-block;
}

#art
{border-left-width: 3px;
    border-left-style: solid;
    border-left-color: red;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: red;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: red;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: red;
    height:300px ;
    background-color: rgb(106, 223, 11);
    margin: -4px;
    padding:0px;
    width: 600px;
    display: inline-block;
}
#arty
{border-left-width: 3px;
    border-left-style: solid;
    border-left-color: red;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: red;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: red;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: red;
    height:300px ;
    background-color: rgb(238, 22, 227);
    margin: -4px;
    padding:0px;
    width: 596px;
    display: inline-block; 
}
#stopka
{
    border-left-width: 3px;
 border-left-style: solid;
 border-left-color: red;
 border-top-width: 3px;
 border-top-style: solid;
 border-top-color: red;
 border-right-width: 3px;
 border-right-style: solid;
 border-right-color: red;
 border-bottom-width: 3px;
 border-bottom-style: solid;
 border-bottom-color: red;
 background:#290ada;
 text-align: center ;
 padding:10px;
 color: rgb(238, 10, 10);

} 