body
{
background-color: aqua;
margin: 0px ;
padding: 0px;
}
p{
margin: 0px;
padding:0px;
}

#baner
{
 padding: 10px;
 margin: 0px;
 text-align: center;
 background: #1abc9c;
 color: white;
 margin-left: 0px;
 width: 1708px;
}
#menu
{
  margin-top: -100px;
 height:300px ;
 background-color: coral;
 margin: 0px;
 padding:0px;
 width: 900px;
 display: inline-block;
}
#art
{
    height:300px ;
    background-color: coral;
    margin: -40px;
    padding:0px;
    width: 864px;
    display: inline-block;
}
#stopka1
  {height:20px ;
    background-color: rgb(117, 230, 11);
    margin: -7px;
    padding:10px;
    width: 600px;
    margin-left: 0px;
    display: inline-block;
}
#stopka2
  {height:20px ;
    background-color: rgb(133, 80, 255);
    margin: -7px;
    padding:10px;
    width: 600px;
    display: inline-block;
}
#stopka3
  {height:20px ;
    background-color: rgb(212, 13, 106);
    margin: 0px;
    padding:10px;
    width: 491px;
    margin-left: -10px;
    display: inline-block;
}